body {
    background-color: #1E1E1E;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
}

::selection {
    background-color: var(--accent-color);
    color: #1E1E1E;
}

.main-content, .tasks {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    transition: filter 0.15s ease;
}

.sidebar {
    background-color: var(--sidebar-color);
    /* background: linear-gradient(90deg, #292929, #292929, #292929, #292929, #292929, #292929, #292929, #292929, #292929, #292929, #292929, #292929, #1E1E1E); */
    padding: 0.5em;
    width: 17em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 0.5s;
}

.sidebar iconify-icon {
    color: var(--sidebar-icon-color);
}

.sidebar-content {
    width: 100%;
    /* width: 92%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-bottom {
    margin-bottom: 0.5em;
}

.notes-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.serif-heading {
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    margin: 0.5em;
    user-select: none;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.sidebar-item {
    border-radius: 0.5em;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.25em;
    border: none;
    font: inherit;
    color: inherit;
    background-color: var(--sidebar-item-color);
    width: 100%;
}

.sidebar-item .left, .sidebar-item .right, .g-signin2 .left, .g-signin2 .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.sidebar-item .right, .g-signin2 .right {
    margin-right: 0.25em;
}

.note-title {
    padding: 0;
    margin: 0;
}

.sidebar-item:hover, #currentNote {
    background-color: var(--sidebar-item-color-selected);
    cursor: default;
}

.sidebar-item:active {
    background-color: var(--sidebar-item-color-active);
}

.settings-button {
    border-radius: 0.5em;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
    border: none;
    font: inherit;
    color: inherit;
    background-color: var(--sidebar-item-color-selected);
}

.settings-button:hover {
    background-color: var(--sidebar-item-color-hover);
}

.settings-button:active {
    background-color: var(--sidebar-item-color-active);
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.status-bar {
    padding-left: 1em;
    background-color: var(--status-bar-color);
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: space-between;
    width: calc(100% - 1em);
    align-items: center;
    gap: 1em;
    user-select: none;
    transition: background-color 0.5s;
}

.status-bar .right, .status-bar .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding-right: 1em;
}

.status-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
}

.toastui-editor-defaultUI {
    border: none !important;
    overflow: hidden;
    border-radius: 0;
}

.toastui-editor-defaultUI-toolbar {
    background-color: #1E1E1E;
    border: none !important;
}

.toastui-editor-toolbar-icons {
    filter: invert(1);
    border: none !important;
}

.toastui-editor-contents {
    background-color: #1E1E1E;
}

.toastui-editor-contents * {
    color: white !important;
}

.toastui-editor-contents p {
    font-size: 1.2em;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

.toastui-editor-contents pre {
    background-color: #292929 !important;
    border-radius: 0.5em;
    font-family: 'Fira Code', monospace;
    font-size: 1.2em;
}

.toastui-editor-mode-switch {
    display: none !important;
}

.toastui-editor-popup {
    border: 0.1em solid #656565;
    border-radius: 0.5em;
}

.toastui-editor-popup-body {
    background-color: #1E1E1E;
    border-radius: 0.5em;
}

.toastui-editor-popup-body ul li:hover {
    background-color: #464646;
}

.settings-modal, .about-modal {
    user-select: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 30em;
    max-width: 100vw;
    background-color: var(--modal-color);
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1.25em;
    border: 0.1em solid #656565;
    border-radius: 0.5em;
    z-index: 999;
    justify-content: center;
    align-items: center;
    transition: opacity 0.15s ease;
}

.about-content {
    user-select: text;
}

.settings-modal-header, .about-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.settings-modal select {
    background-color: #1E1E1E;
    color: white;
    border: 0.1em solid #656565;
    border-radius: 0.5em;
    padding: 0.5em;
    font: inherit;
}

.settings-modal iconify-icon {
    color: var(--text-color);
}

.action-button {
    position: relative;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font: inherit;
    z-index: 1; /* Ensure the button is above the pseudo-element */
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: var(--action-button-hover-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; /* Ensure the pseudo-element is behind the button */
}

.action-button:hover::before {
    width: 2em;
    height: 2em;
}

.action-button:active::before {
    background-color: var(--action-button-active-color)
}

.action-button-large {
    position: relative;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font: inherit;
    z-index: 1; /* Ensure the button is above the pseudo-element */
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-button-large:hover {
    background-color: var(--status-bar-item-hover-color);
}

.action-button-large:active {
    background-color: var(--status-bar-item-active-color);
}

.settings-modal .large-button {
    background-color: var(--buttons-and-dropdowns);
    color: var(--text-color);
    border: 0.1em solid #656565;
    border-radius: 0.5em;
    padding: 0.5em;
    font: inherit;
}

.settings-modal input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5em;
    border-radius: 0.5em;
    background-color: var(--buttons-and-dropdowns);
}

#accountPopup, #noteOptionsPopup, #quillContextMenu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--popup-color);
    padding: 0.5em;
    width: 12em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em #00000031;
    z-index: 999;
    border: 0.1em solid var(--popup-border-color);
}

#quillContextMenu {
    width: 15em;
}

#quillContextMenu .popup-button {
    justify-content: space-between;
}

#quillContextMenu .popup-button .right {
    color: var(--text-color-subtle);
}

.popup-button {
    border-radius: 0.5em;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
    border: none;
    font: inherit;
    color: inherit;
    background-color: var(--popup-color);
}

.popup-button:hover {
    background-color: var(--sidebar-item-color-hover);
}

.popup-button:active {
    background-color: var(--sidebar-item-color-active);
}

.clock #clockTime {
    font-size: 2em;
    display: flex;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    user-select: none;
    transition: color 0.5s;
}

#palette {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    transition: opacity 0.15s ease;
}

#palette .search-bar {
    border: 0.1em solid #656565;
    width: 30em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: var(--modal-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

#palette input {
    border: none;
    background-color: var(--modal-color);
    border-radius: 0.5em;
    padding: 0.5em;
    font: inherit;
    color: var(--text-color);
    width: 100%;
}

#palette input:focus {
    outline: none;
}

#palette #commandPaletteResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 30em;
    max-height: 20em;
    overflow-y: auto;
}

#palette #commandPaletteResults .command {
    border-radius: 0.5em;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    border: none;
    font: inherit;
    color: inherit;
    background-color: var(--sidebar-item-color);
    width: 90%;
    box-shadow: 0 0 0.5em #00000031;
}

#commandPaletteResults {
    user-select: none;
}

#closeCommandPaletteButton {
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    border-radius: 3em;
    background-color: var(--modal-color);
    user-select: none;
}

#closeCommandPaletteButton:hover {
    background-color: var(--sidebar-item-color-hover);
}

#closeCommandPaletteButton:active {
    background-color: var(--sidebar-item-color-active);
}

.tasks {
    width: 20em;
    background-color: var(--sidebar-color);
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.tasks h1 {
    user-select: none;
}

#welcomeDialog {
    user-select: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 30em;
    max-width: 100vw;
    background-color: var(--modal-color);
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1.25em;
    border: 0.1em solid #656565;
    border-radius: 0.5em;
    z-index: 999;
    justify-content: center;
    align-items: center;
    transition: opacity 0.15s ease;
}