body {
    background-color: #1E1E1E;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: flex;
    overflow: hidden;
}

::selection {
    background-color: #DBB13D;
    color: #1E1E1E;
}

.main-content {
    display: flex;
    flex-direction: row;
    height: 100vh;
    transition: filter 0.15s ease;
}

.sidebar {
    background-color: #292929;
    /* background: linear-gradient(90deg, #292929, #292929, #292929, #292929, #292929, #292929, #292929, #292929, #292929, #292929, #292929, #292929, #1E1E1E); */
    padding: 0.5em;
    width: 17em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-content {
    width: 100%;
    /* width: 92%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-bottom {
    margin-bottom: 0.5em;
}

.notes-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.serif-heading {
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    margin: 0.5em;
    user-select: none;
}

.note-items {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.note-item, .g-signin2 {
    border-radius: 0.5em;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.25em;
    border: none;
    font: inherit;
    color: inherit;
    background-color: #292929;
    width: 100%;
    /* width: 90%; */
}

.note-item .left, .note-item .right, .g-signin2 .left, .g-signin2 .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.note-item .right, .g-signin2 .right {
    margin-right: 0.25em;
}

.note-title {
    padding: 0;
    margin: 0;
}

.note-item:hover, #currentNote, .gsignin2:hover {
    background-color: #464646;
    cursor: default;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.status-bar {
    padding-left: 1em;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: space-between;
    width: calc(100% - 1em);
    align-items: center;
    gap: 1em;
    user-select: none;
}

.status-bar .right, .status-bar .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding-right: 1em;
}

.status-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
}

.toastui-editor-defaultUI {
    border: none !important;
    overflow: hidden;
    border-radius: 0;
}

.toastui-editor-defaultUI-toolbar {
    background-color: #1E1E1E;
    border: none !important;
}

.toastui-editor-toolbar-icons {
    filter: invert(1);
    border: none !important;
}

.toastui-editor-contents {
    background-color: #1E1E1E;
}

.toastui-editor-contents * {
    color: white !important;
}

.toastui-editor-contents p {
    font-size: 1.2em;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

.toastui-editor-contents pre {
    background-color: #292929 !important;
    border-radius: 0.5em;
    font-family: 'Fira Code', monospace;
    font-size: 1.2em;
}

.toastui-editor-mode-switch {
    display: none !important;
}

.toastui-editor-popup {
    border: 0.1em solid #656565;
    border-radius: 0.5em;
}

.toastui-editor-popup-body {
    background-color: #1E1E1E;
    border-radius: 0.5em;
}

.toastui-editor-popup-body ul li:hover {
    background-color: #464646;
}

#settingsModal, .about-modal {
    user-select: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 30em;
    max-width: 100vw;
    background-color: #292929;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1.25em;
    border: 0.1em solid #656565;
    border-radius: 0.5em;
    z-index: 999;
    justify-content: center;
    align-items: center;
    transition: opacity 0.15s ease;
}

#settingsModal-header, .about-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#settingsModal select {
    background-color: #1E1E1E;
    color: white;
    border: 0.1em solid #656565;
    border-radius: 0.5em;
    padding: 0.5em;
    font: inherit;
}

.action-button {
    position: relative;
    border: none;
    background-color: transparent;
    color: white;
    font: inherit;
    z-index: 1; /* Ensure the button is above the pseudo-element */
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #656565;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; /* Ensure the pseudo-element is behind the button */
}

.action-button:hover::before {
    width: 2em;
    height: 2em;
}

.action-button:active::before {
    background-color: #4a4a4a; /* Darker color when clicked */
}

.action-button-large {
    position: relative;
    border: none;
    background-color: transparent;
    color: white;
    font: inherit;
    z-index: 1; /* Ensure the button is above the pseudo-element */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
}

.action-button-large:hover {
    background-color: #464646;
}

#settingsModal .large-button {
    background-color: #1E1E1E;
    color: white;
    border: 0.1em solid #656565;
    border-radius: 0.5em;
    padding: 0.5em;
    font: inherit;
}

#settingsModal input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5em;
    border-radius: 0.5em;
}

.nsm7Bb-HzV7m-LgbsSe.jVeSEe.i5vt6e-Ia7Qfc.uaxL4e-RbRzK {
    background-color: #292929;
    border-radius: 0.5em;
    color: white;
}

#accountPopup {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1E1E1E;
    padding: 0.5em;
    width: 12em;
    border: 0.1em solid #656565;
    border-radius: 0.5em;
}